<!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

<!--  ====== preloader=============================================  -->
<div id="preloader">
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
            </div>
        </div>
    </div>
</div><!-- /preloader -->


<!--  ====== header-area-start ============================================================ -->
<header>
    <div id="header-sticky" class="transparent-header header-area">
        <div class="header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-5">
                        <div class="logo mt-50 mb-50 transition5">
                            <a class="header-logo" href="index.html"><img src="images/logo/brand-logo.png"
                                    alt="Insitech International"></a>
                        </div>
                    </div><!-- /col -->

                    <div
                        class="col-xl-10 col-lg-10 col-md-9 col-sm-8 col-7 pl-0 d-flex justify-content-end align-items-center">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="#home">InsiTech</a>
                            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#home">Home</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="companyDropdown" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Company
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="companyDropdown">
                                            <a class="dropdown-item" href="#about">About</a>
                                            <a class="dropdown-item" href="#projects">Projects</a>
                                            <a class="dropdown-item" href="#careers">Careers</a>
                                            <a class="dropdown-item" href="#contact">Contact</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Services
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                                            <a class="dropdown-item" href="#custom-solution-development">Custom
                                                Solution Development</a>
                                            <a class="dropdown-item" href="#training-workshops">Training and
                                                Workshops</a>
                                            <a class="dropdown-item" href="#consulting-services">Consulting
                                                Services</a>
                                            <a class="dropdown-item" href="#managed-services">Managed Services</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown"
                                            role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Resources
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="resourcesDropdown">
                                            <a class="dropdown-item" href="#blog">Blog</a>
                                            <a class="dropdown-item" href="#testimonials">Testimonials</a>
                                            <a class="dropdown-item" href="#resources-content">Resources</a>
                                            <a class="dropdown-item" href="#faqs">FAQs</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div><!-- /col -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /header -->
    </div><!-- /header-sticky -->
</header>
<!--  header-area-end  -->



<!--  ====== header extra info start
    ============================================================ -->

<!-- side-mobile-menu start -->
<div class="side-mobile-menu pt-15 pb-30 pl-30 pr-20 pb-100">
    <div class="d-fle justify-content-between w-100">
        <div class="close-icon d-inline-block float-right clear-both mt-20 mb-15">
            <a href="javascript:void(0);"><span class="icon-clear theme-color"><i class="fa fa-times"></i></span></a>
        </div>
    </div>
    <div class="mobile-menu mt-10"></div>
    <h5 class="text-white text-center mt-35 pb-1 d-inline-block ml-3">Follow me</h5>
    <ul class="social social-bg text-center d-flex mt-10 ml-3">
        <li class="mr-2 rotate-hover">
            <a class="facebook-bg text-center pr-0 text-white d-block transition-3 rotate" href="#"><i
                    class="fab fa-facebook-f"></i></a>
        </li>
        <li class="mr-2 rotate-hover">
            <a class="twitter-bg text-center pr-0 text-white d-block rotate transition-3" href="#"><i
                    class="fab fa-twitter"></i></a>
        </li>
        <li class="mr-2 rotate-hover">
            <a class="linkedin-bg text-center pr-0 text-white d-block rotate transition-3" href="#"><i
                    class="fab fa-linkedin-in"></i></a>
        </li>
        <li class="mr-2 rotate-hover">
            <a class="instagram-bg text-center pr-0 text-white d-block rotate transition-3" href="#"><i
                    class="fab fa-instagram"></i></a>
        </li>
    </ul><!-- social -->
</div><!-- /side-mobile-menu -->
<div class="body-overlay"></div>
<!-- header extra info end  -->